/* General Typography */
body {
  background-color: #EEE;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

/* Recipe List */
.recipe-text > li {
  list-style-type: none;
  display: inline-block;
}

ul {
  padding: 5px 15px;
  margin: 0;
  /* list-style-type: none; */
}

.recipes {
  width: 66%;
  margin: 0 auto;
}

.recipe-card {
  height: auto;
  width: 100%;
  border: 1px solid black;
  border-radius: 0 15px 15px 0;
  display: inline-block;
  margin: 3px 0 0 0;
  background-color: #FFF;
}

.recipe-img {
  float: left;
  margin: 0;
  padding: 0;
}

.recipe-img img {
  width: 70px;
  height: auto;
  padding-right: 10px;
}

.recipe-text {
  font-size: 18px;
  margin: 5px 15px;
  height: 100%;
}

.recipe-text a {
  text-decoration: none;
}

/* Recipe Pages */

.container {
  width: 50%;
  margin: 0 auto;
  /* border: 1px solid rgb(146, 138, 138); */
  padding: 10px;
  border-radius: 15px;
}

.container > img{
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

ol > li {
  margin: 10px auto;
}