body {
  background-color: #EEE;
}
h1 {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.recipes {
  width: 66%;
  margin: 0 auto;
  /* background-color: aqua; */
}

.recipe-card {
  height: auto;
  width: 100%;
  border: 1px solid black;
  border-radius: 0 15px 15px 0;
  display: inline-block;
  margin: 3px auto;
  background-color: #FFF;
}

.recipe-img {
  float: left;
  margin: 0;
  padding: 0;
}

.recipe-img img {
  width: 70px;
  height: auto;
  padding-right: 10px;
}

.recipe-text {
  font-size: 15px;
  margin: 5px 15px;
  height: 100%;
}

.recipe-text a {
  text-decoration: none;
}